* {
    text-align: center;
}

.rectangle {
    height: 50px;
    width: 400px;
    background-color: black;
    position: fixed;
}

.target {
    height: 50px;
    width: 75px;
    background-color: green;
    position: fixed;
}

.circle {
    height: 30px;
    width: 30px;
    background-color: pink;
    border-radius: 50%;
    position: fixed;
  }

  #progress {
    height: 10px;
    width: 400px;
    background-color: #ccc;
    position: fixed;
  }

#green-bar {
    height: 10px;
    width: 400px;
    background-color: green;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
}

.meter{
    position: absolute;
    opacity: 0;
}

button {
    position: fixed;
}